/* Write your CSS here! */
body {
    margin: 8px;
    padding: 50px;
    display: block;
}

h1 {
    text-decoration: underline;
    color: navy;
}

header {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
.center {
    text-indent: 1%;
}

#mainHeading {
    color: red;
    text-decoration: underline;
    font-size: 25px;
}

<<<<<<< HEAD
p.indent {
    text-indent: 1px;
}

=======
.indent {
    text-indent: 1%;
}
>>>>>>> 54d93e2d64862b3170ae2eaf6c9edb7a1e538d8c

#testP {
    color: red;
    text-align: center;
}

.align {
    text-align: center;
}

.funParagraph {
    color: green;
<<<<<<< HEAD
    text-align: center;
}
=======
    text-align: center:
}

>>>>>>> 54d93e2d64862b3170ae2eaf6c9edb7a1e538d8c

