/* Write your CSS here! */
body {
    margin: 8px;
    padding: 50px;
    display: block;
}

h1 {
    text-decoration: underline;
    color: navy;
}

header {
    text-align: center;
    font-size: 50px;
}
.center {
    text-indent: 1%;
}

#mainHeading {
    color: red;
    text-decoration: underline;
    font-size: 25px;
}

.indent {
    text-indent: 1%;
}

#testP {
    color: red;
    text-align: center;
}

.align {
    text-align: center;
}

.funParagraph {
    color: green;
    text-align: center:
}


